[submodule "system_tests/cpp/catch"]
	path = system_tests/cpp/catch
	url = https://github.com/catchorg/Catch2.git
    branch = master    
    tag = v2.1.1
[submodule "system_tests/cpp/GSL"]
	path = system_tests/cpp/GSL
	url = https://github.com/Microsoft/GSL
    branch = master

