{% for s in algo.algo.get_all_structs_of_arguments() %}
#include "{{cpptool.full_path_to_file_name(s)}}"
{% endfor %}

{% if algo.parent.target_namespace != None %}
{{cpptool.open_namespace(algo.parent)}}
{% endif %}

// algo {{algo.name}} / {{algo.algo.name}}

{% if algo.parent.target_namespace != None %}
{{cpptool.close_namespace(algo.parent)}}
{% endif %}

